ul{
  list-style: none;
}

body{
  background-color: lightgray;
}

a:link, a:visited{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: white;
}

.nav{
  top: 0;
  position: fixed;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


.search{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

img {
  margin-left: 25%;
  margin-top: 75px;
  height: 200px;
  width: 400px;
}

.form {
  width: 400px;
  background-color: gray;
  margin: 20px auto;
  margin-top: 75px;
  padding: 40px;
  border-radius: 8px;;
}
.form input, .form textarea, .form button, .form p{
  display: block;
  margin: 5px auto;
  width: 200px;
}

