@import 'bootstrap/dist/css/bootstrap.min.css';

body{
  background-color: rgb(79, 107, 146);
}

button{
  margin: 1rem 0rem;
}

a, .breadcrumb-item+.breadcrumb-item::before{
  color: white
}

.breadcrumb-item.active{
  color: rgb(0, 6, 73);
}