@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'mapbox-gl/dist/mapbox-gl.css';

body{
  background-color: rgb(79, 107, 146);
}

button{
  margin: 1rem 0rem;
}

a, .breadcrumb-item+.breadcrumb-item::before{
  color: white
}

.breadcrumb-item.active{
  color: rgb(0, 6, 73);
}

.map-container {
  height: 65vh;
  margin-bottom: 2rem;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  margin: 12px 0;
  border-radius: 4px;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}